.Dashboard-wrapper {
  background-color: black;
}

.Dashboard {
  padding: 1rem 0rem;
  background: linear-gradient(0.25turn, black, rgb(35, 0, 35));
  height: 75vh;
}

@media (max-width: 668px) {
  .Dashboard {
    height: 80vh;
  }
  .btns-container {
    margin: 0.1rem 0.2rem;
    padding: 0rem 0rem;
  }
  .btn-player {
    margin: 0.1rem;
    padding: 0.5rem;
    border-radius: 20px;
    border: 1px solid black;
    width: fit-content;
    font-size: 0.9rem;
  }
}

@media (min-width: 1023px) {
  .Dashboard {
    height: 90vh;
  }
}

.Form {
  border-radius: 35px;
}

.btns-container {
  margin: 0.2rem 0.2rem;
}

@media (min-width: 669px) {
  .btn-player {
    margin: 0.1rem;
    padding: 1rem;
    border-radius: 500px;
    border: 2px solid black;
    width: fit-content;
    font-size: 1rem;
  }
}

.btn-player:hover,
.btn-player:active,
.btn-player:focus {
  border: 2px solid #44be31;
  background-color: #44be31;
}

.tracks-container {
  overflow-y: scroll;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
}

.search-container {
  border-bottom: 1px solid whitesmoke;
  margin: 1rem 0rem;
}
.search-header {
  color: white;
}
