.Stats,
.Video,
.Start {
  font-size: smaller;
  padding: 1rem 1rem;
  color: rgb(222, 213, 213);
}

.Video {
  border-bottom: 1px solid rgb(121, 119, 119);
}

.Start {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Stats {
  border-top: 1px solid rgb(121, 119, 119);
}

.Col-title,
.Col-subtitle {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

@media (max-width: 414px) {
  .Col-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
  }
  .Col-title {
    border-bottom: 1px solid rgb(121, 119, 119);
  }
  .Col-title p {
    font-size: x-small;
    font-weight: bold;
  }
}

@media (min-width: 415px) {
  .Col-title p {
    font-size: large;
  }

  .Col-title {
    border-right: 1px solid rgb(121, 119, 119);
  }
}

.track-name,
.artist-name {
  margin: 0rem 0rem;
  color: whitesmoke;
}

a {
  text-decoration: none;
}
.Login-btn-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.btn {
  background-color: #44be31;
  color: white;
}

.Login-signup {
  margin-top: 1rem;
}

.Login-signup span {
  font-weight: bolder;
  color: rgb(11, 242, 38);
}
.player-wrapper {
  position: relative;
  height: 40vh;
  width: auto;
}

.loading {
  height: 100vh;
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: rgb(222, 213, 213);
}
