.progress {
    margin-top: 5px;
    margin-bottom: 0px;
    padding: 1rem 1rem;
    border: 3px solid blue;
    border-radius: 5px;
    background-color: #e9e9e9d8;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.progress-wrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

label {
    padding: .1rem .1rem;
}

progress[value] {
    -webkit-appearance: none;
    appearance: none;
    margin: 0rem .5rem;
    width: 80%;
    height: 1rem;
}

progress[value]::-webkit-progress-bar{
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
}

progress[value]::-webkit-progress-value {
    background-color: rgb(12, 24, 182);
    border-radius: 5px;
}